<%= turbo_frame_tag dom_id(event) do%>
  <div class="mb-3">
    <div class="mb-0 event-index-image-wrapper">
      <%= link_to event_path(event), data: { turbo_frame: "_top" } do %>
        <%= image_tag(event.image.url, class: "author_image w-100") if event.image %>
      <% end %>
    </div>
    <div style="background-color: #ebe9e8" class="p-2">
      <p><strong><%= event.theme %></strong></p>
      <div>
        <div class="mb-2">
          <div class="mb-2 d-flex">
            <% if event.get_status(event.end_date) == 'active' %>
              <span class="border border-success rounded text-capitalize py-1 px-2"><%= event.get_status(event.end_date) %></span>
            <% else %>
              <span class="border border-danger rounded text-capitalize py-1 px-2"><%= event.get_status(event.end_date) %></span>
            <% end %> 
            <span class="border border-primary rounded text-capitalize px-3 mx-1 d-flex align-items-center"><%= event.event_type %></span> 
            <%= turbo_frame_tag "join_#{event.id}" do%>
              <%= render partial: 'event_registration_button', locals: { event: event }%>
            <% end %>
          </div>
        </div>
        <div id="" class="mb-2 d-flex justify-content-between">          
          <div class="d-flex">
            <%= turbo_frame_tag "like_#{event.id}" do %>
              <%= render partial: 'likes/like', locals: { event: event } %>
            <% end %>
            <%= turbo_frame_tag "comment_#{event.id}" do%>
              <%= link_to new_event_comment_path(event), class: "d-flex pt-0 btn btn-default" do %>
                <i class="bi bi-chat-left"></i>
                <i class="d-inline-block mx-1 pb-1"><%= event.comments.count || 0 %></i>
              <% end %>
            <% end %>
          </div>
          <div class="d-flex">
            <%= link_to edit_event_path(event), class: "px-3 py-0 mx-1 btn btn-default" do %>
              <i class="bi bi-pencil-square"></i>
            <% end %>
            <%= button_to event_path(event), class: "d-flex flex-start h-100 py-0 btn btn-default", method: :delete do %>
              <i class="bi bi-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


