<div class="row">
  <div class="">
    <div class="image-wrapper mx-auto mt-4 mb-2">
      <%= image_tag(@event.image.url, class: "author_image w-100") if @event.image %>
    </div>
   <%= turbo_frame_tag 'details' do %>
    <div class="mx-auto more">
      <div>
        <%= link_to 'more...', details_path(@event), data: { turbo_frame: "show" } %>
      </div>
    </div>
   <% end %>
  </div>
  <%= turbo_frame_tag 'show' %>
  <div style="" class="comments d-flex justify-content-center">
    <div style="width: 350px;">
      <% @comments.each do |comment| %>
        <div class="d-flex mb-2">
          <div class="comment-image-wrapper">
            <%= image_tag(comment.guest.avatar.url, size: "50") if comment.guest.avatar%>
          </div> 
          <div class="ms-2 d-flex align-items-end text-bottom"><%= comment.body %></div>
        </div>
    <% end %>
    </div>
  </div>
</div>